<h2>States</h2>

<% states=["New Jersey", "Colorado","Arizona"] %>


<ul><% states.each do |state| %>
    <li><h2><%= state %></h2></li>
<% end %>

</ul>

<h2>Cities</h2>

<% cities=["Newark", "Belmar", "Denver", "Boulder", "Tuscon", "Tempe"] %>

<ul><% cities.each do |city| %>
  <li><h2><%= city %></h2></li>
<% end %>

</ul>

<h2>Cities and States</h2>

<ul><%
